body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    display: flex;
    text-align: center;
    
}

nav ul {
    list-style-type: none;
    margin-left: 700px;
    padding: 0;
    display: flex;
    text-align: center;


}



footer {
    background-color: #2e27ba;
    color: #fff;
    display: flex;
    text-align: center;
    padding: 10px;
    align-items: center;

}
.bbs{
display: grid;
grid-template-rows: auto auto auto ;


}
.foot{
    width: 100% !important;
margin-top: 600px;
}

.bbs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 16px;
    margin-bottom: 10px;
}

.product-card img {
    max-width: 100%;
    height: auto;
}